<footer id="footer">
        <div class="contenedor footer-content">
            <div class="contact-us">
                <img src="fotos/Logo-Skarshop.png" width="60%">

            </div>
            <div class="social-media">
                  <a href="https://www.facebook.com/skarshop07?mibextid=LQQJ4d" class="social-media-icon">
                    <i class='bx bxl-facebook'></i>
                </a>

                </a>
                <a href="https://www.instagram.com/skarshop7?igsh=MWVuOXZuYXFtNTBseQ=="
                    class="social-media-icon">
                    <i class='bx bxl-instagram'></i>
                </a>
            </div>
        </div>
        <div class="line"></div>
    </footer>