 <header class="header" id="inicio">
        <div class="Menu">
            <H1>Menu</H1>
        </div>
        <img class="hamburguer" src="img/hamburguesa.svg" alt="">
        <nav class="menu-navegacion">
            <a href="index.html">Inicio</a>
            <a href="nosotros.html">Acerca de nosotros</a>
            <a href="programas.html">Nuesto programas</a>
            <a href="galeria.html">Galeria</a>
            <a href="preguntas.html">Preguntas frecuentes</a>
            <a href="blog.html">Blog</a>
            <a href="eventos.html">Eventos</a> 
            <a href="donaciones.html">Donaciones</a>
            <a href="contactos.html">Contacto</a>
        </nav>
        <div class="contenedor head">
            <h1 class="titulo">SKARSHOP</h1>
            <p class="copy">¡Hola y bienvenidos a Skarshop! Nos alegra tenerte aquí. Somos tu destino
                en línea para las últimas tendencias en moda, donde la calidad y el estilo se encuentran
            </p>
        </div>

    </header>